/** Colors **/
.bk-sohi{
	background-color: #ED784A;
}

.bk-sohi-thin2{
	background-color: #FFB89C;
}

.bk-sohi-thin1{
	background-color: #FF9971;
}

.bk-sohi-dark1{
	background-color: #DD551F;
}

.bk-sohi-dark2{
	background-color: #AA3B0F;
}

.bk-shironeri{
	background-color: #FCFAF2;
}

.bk-cyohsyun{
	background-color: #BF6766;
}

.bk-nadeshiko{
	background-color: #DC9FB4;
}



/* body */
body{
	margin: 0;
	font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}


/* nav-bar */
.img-logo{
	height: 32px;
}

.container{
	margin-top: 50px;
}



/** override bootstrap **/
@media (min-width: 1200px){
	.container {
	    width: 1190px;
	    padding-right: 0;
	    padding-left: 0;
	}
}
